# Ambientes Virtuais e Dependências
venv/
env/
.env

# Lixo do Python e Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# O MAIS IMPORTANTE: Ignorar os dados!
# Nós não comitamos arquivos grandes de dados no Git.
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db